{% extends 'bootstrap4/bootstrap4.html' %}
{% load bootstrap4 %}
{% load static %}
{% load setvar %}

{% block bootstrap4_title %}Recipe book - {% block title %}{% endblock %}{% endblock %}

{% block bootstrap4_content %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
    <a class="navbar-brand" href="/">Recipe book</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav nav-pills mr-auto">
            {% for category_key, category_name in categories %}
                {% if category_key == requested_category_key %}
                    {% setvar "active" as extra_classes %}
                {% endif %}
            
                <li class="nav-item">
                    <a class="nav-link btn-outline-secondary {{ extra_classes }}" href="/category/{{ category_key }}">
                    <img src="{% get_static_prefix %}recipe/{{ category_key }}.svg" width="20" height="20" alt="">
                    {{ category_name }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
    </div>
</nav>

<main role="main">
    <div class="container mt-3">
        {% autoescape off %}{% bootstrap_messages %}{% endautoescape %}
        {% block content %}{% endblock %}
    </div>
</main>
{% endblock %}

