{% extends "recipe/base.html" %}
{% load static %}
{% load setvar %}

{% block title %}{{ requested_category_name }}{% endblock %}

{% block content %}
<div class="d-flex mt-4">
    <h2>{{ requested_category_name }}</h2>
    <div class="ml-auto align-bottom">
        {% if request.user.is_authenticated %}
            <a href="/recipe/add" class="btn btn-primary btn-sm">Add</a>
        {% else %}
            <a href="/login" class="btn btn-primary btn-sm">Login</a>
        {% endif %}
    </div>
</div>

{%if recipes %}
    <div>
    {% for recipe in recipes %}
    <div class="media border rounded p-4 my-2">
        <a href="/recipe/{{ recipe.pk }}">
            {% if recipe.image %}
                <img src="{{ recipe.image.url }}" class="mr-3" alt="" width=75 height=75>
            {% else %}
                <img src="{% get_static_prefix %}recipe/recipe_blank.svg" class="mr-3" alt="" width=75 height=75>
            {% endif %}
            
        </a>
        <div class="media-body">
            <a href="/recipe/{{ recipe.pk }}" class="text-reset"><h5 class="mt-0">{{ recipe.name }}</h5></a>
            {{ recipe.description }}
            {% if recipe.cooking_time_min %}
                <em>({{ recipe.cooking_time_min }} min)</em>
            {% endif %}
        </div>
    </div>
    {% endfor %}
    </div>
{% else %}
    <p>No recipes</p>
{% endif %}

{% if recipes %}
    <nav aria-label="pagination">
      <ul class="pagination justify-content-center">
        {% if page_obj.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.previous_page_number }}">&laquo;</a>
            </li>
        {% else %}
            <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1" aria-disabled="true">&laquo;</a>
            </li>
        {% endif %}
        
        {% for page in paginator.page_range %}
            {% if page == page_obj.number %}
                <li class="page-item active" aria-current="page">
                    <a class="page-link" href="?page={{ page }}">{{ page }}</a>
                </li>
            {% else %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page }}">{{ page }}</a>
                </li>
            {% endif %}
        {% endfor %}
        
        {% if page_obj.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.next_page_number }}">&raquo;</a>
            </li>
        {% else %}
            <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1" aria-disabled="true">&raquo;</a>
            </li>
        {% endif %}
      </ul>
    </nav>
{% endif %}
{% endblock %}