{% extends "recipe/base.html" %}
{% load static %}

{% block title %}{{ recipe.name }}{% endblock %}

{% block content %}
<div class="d-flex mt-4">
    <h2>{{ recipe.name }}</h2>
    <div class="ml-auto align-bottom">
        {% if request.user.is_authenticated %}
            <div class="btn-group" role="group" aria-label="Toolbar">
            
            {% if request.user.is_admin or recipe.user == request.user %}
                <a href="{% url 'recipe-change' recipe.pk %}" class="btn btn-primary btn-sm">Edit</a>
            {% else %}
                <span
                    class="d-inline-block"
                    tabindex="0"
                    data-toggle="tooltip"
                    data-placement="bottom"
                    title="Cannot edit recipe of another user">
                    <button class="btn btn-primary btn-sm" style="pointer-events: none;" type="button" disabled>Edit</button>
                </span>
            {% endif %}
            
            <a href="{% url 'logout' %}" class="btn btn-primary btn-sm">Logout</a>
            </div>
        {% else %}
            <a href="{% url 'login' %}" class="btn btn-primary btn-sm">Login</a>
        {% endif %}
    </div>
</div>

<p>{{ recipe.description }}</p>

<div class="float-right d-none d-md-block">
    {% if recipe.image %}
        <img src="{{ recipe.image.url }}" class="mr-3" alt="" width=150 height=150>
    {% endif %}
</div>

<div>
{{ instructions_html | safe }}
</div>

{% endblock %}